name: Pipeline de Qualidade e Segurança

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  qualidade-seguranca:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout do código
        uses: actions/checkout@v4


      - name: Instalar Java 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Compilar o Robô
        run: |
          mkdir -p bin
          javac -cp "libs/robocode.jar" -d bin src/PrimeiroRobo.java


      - name: Análise de Padronização - Checkstyle
        run: |
          wget -q https://github.com/checkstyle/checkstyle/releases/download/checkstyle-10.12.4/checkstyle-10.12.4-all.jar
          java -jar checkstyle-10.12.4-all.jar -c libs/google_checks.xml src/PrimeiroRobo.java || true


      - name: Análise de Bugs - SpotBugs
        run: |
          wget -q https://repo1.maven.org/maven2/com/github/spotbugs/spotbugs/4.8.0/spotbugs-4.8.0.tgz
          tar -xzf spotbugs-4.8.0.tgz
          ./spotbugs-4.8.0/bin/spotbugs -textui -effort:max -low bin || true


      - name: Finalização
        run: echo "✅ Pipeline concluído com sucesso! Código analisado e compilado sem erros."

